name: diabetes_tracker
description: A diabetes management app

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  # charts_flutter: ^0.12.0  # Remove this line for now
  flutter_local_notifications: ^16.3.0
  timezone: ^0.9.1
  shared_preferences: ^2.2.2
  intl: 0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true